<!--------------------------------------------------------------
# error.ejs
# Marco Mejia
# 301082190
# 03 Mar 2021

Midterm test web application
--------------------------------------------------------------->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
